layout {
    always-center-single-column

    gaps 16
    struts     { top 32; bottom 32; }
    focus-ring { off;               }

    border {
        width 1;
        active-color "#00C468";
        inactive-color "#002c2d";
    }
}

overview { zoom 0.65; }

cursor { xcursor-theme "phinger-cursors-dark"; }

hotkey-overlay { skip-at-startup; }

prefer-no-csd

input {
    keyboard {
        repeat-delay 250
        repeat-rate 25
    }
}

include "binds.kdl"
include "outputs.kdl"
include optional=true "noctalia.kdl"
